<html>
  <head>
    <% include header %>
    <link rel="stylesheet" href="//<%= currentHost %>/stylesheets/page.css?v=1.3" />
  </head>

  <body>

    <div class="linklink-header">
      <span class="app-name-small">
        <a href="//<%= currentHost %>"><span class="first">Link</span><span class="last">Link</span></a>
      </span>

      <span>:</span>

      <div class="instructions">
        <span> Click anywhere to create a link to that part of the page </span>
      </div>

      <div class="generated-link">
        <span>Here you go</span>
        <input></input>
        <a href="#" target="_blank">Preview</a>
      </div>
    </div>

    <div class="linklink-credits">
      <span>
        Deep-linked with
        <span class="app-name-baby">
          <a href="//<%= currentHost %>"><span class="first">Link</span><span class="last">Link</span></a>
        </span>
      </span>
    </div>

    <div class="linklink-content">
      <%- content %>
    </div>

    <script>
      ;(function () {
        // For quick parsing and scroll to location
        window.LL = {
          url: "<%= url %>",
          top: parseInt("<%= top %>", 10)
        };

        if (window.LL.url && window.LL.top) {
          window.scrollTo(0, window.LL.top);
        }
      })();
    </script>
    <script src="//<%= currentHost %>/javascripts/vendor/jquery-2.1.1.min.js"></script>
    <script src="//<%= currentHost %>/javascripts/page.js?v=1.3"></script>
  <body>
</html>